{% extends 'AuthApp/base.html' %}
{% block content %}
{% if customer %}

<h1>Make a Deposit or Withdrawal</h1>
<h3>Customer Info:</h3>
<ul>
    <li> {{ customer.first_name }}
        {{ customer.last_name }}
    </li>
    <li>Main Balance: ${{ customer.main_balance |floatformat:2 }}</li>
    <li>Emergency Balance: ${{ customer.emergency_balance |floatformat:2 }}</li>

</ul>
<hr/>
<form method="post">
    {% csrf_token %}
    <label>
        <input type="radio" name="trans_acct" value="SAVINGS" checked>
    </label>Expenses<br/>
    <label>
        <input type="radio" name="trans_acct" value="EMERGENCY">
    </label>Emergency<br/>
    <label>
        <input type="radio" name="trans_type" value="DEPOSIT" checked>
    </label>Deposit<br/>
    <label>
        <input type="radio" name="trans_type" value="WITHDRAW">
    </label>Withdraw<br/>
    <label for="trans_value">Amount</label>
    <input type="number" id="trans_value" name="trans_value">
    <button type="submit">GO GET IT!</button>
</form>
{% else %}
<h2>I have no Customer to make a deposit!</h2>
{% endif %}
{% endblock %}
